<h1>Home</h1>
<% if user_signed_in? %>

 <%= form_for @post, html:{multipart: true} do |p| %>
 <%= p.label :title %>
 <br>
 <%= p.text_field :title %>
 <br>
 <%= p.label :text %>
 <br>
 <%= p.text_area :text %>
 <br>
 <%=p.label :image%> 
 <%=p.file_field :image %>
 <br>
 <%= p.submit %>
 <% end -%>
<% else %>
<h2> Bienvenidos <h2>
<% end -%>



